%section.no-padding.container
  .col-md-9.col-xs-10.col-lg-9.lecture_box
    .lecture_title
      %h3
        = @lecture.lecture_title

    %ul.college_teacher.clearfix
      %li.lecture_college
        = @lecture.college.college_name
      %li.lecture_teacher
        = @lecture.teacher if @lecture.teacher

    .lecture_content
      %p
        = @lecture.content if @lecture.content

    -# %h3.kuchikomi
    -#   みんなのクチコミ
    - if @lecture_comments.nil?
      %h3
        まだクチコミはありません。
    - @lecture_comments.each do |comment|
      .lecture_comments_box.clearfix
        .lecture_comment_avatar_box
          .lecture_comment_avatar
            = image_tag comment.user.avatar.thumb
          .lecture_comment_name
            = comment.user.name
        .lecture_comment_box
          .lecture_comment_difficulty
            評価#{comment.difficulty}
          .lecture_comment
            = comment.comment
          - if comment.user.id == current_user.id
            .delete_btn
              = link_to "このコメントを削除する。", lecture_comment_path(comment.id), method: :delete

    - if user_signed_in?
      .post_comment
        = link_to "#{@lecture.lecture_title}のクチコミを投稿する", new_lecture_comment_path, remote: true
    - else
      .comment_login_message
        = link_to "ログインしてこの授業にに対するクチコミを投稿しよう！", new_user_registration_path

.panel.clearfix
  = render partial: 'lecture_comments/lecture_comment_post'
  = render partial: 'products/post'


