.col-md-12.col-sm-12.conForm
  .contact.devise_form
    %h2 新規ユーザー登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.text_field :name, autofocus: true, placeholder: "ニックネームを決めてください。"
      .field
        = f.text_area :profile, placeholder: "プロフィールを入力してください。"
      .field.avatar_form
        = f.label :avatar,"アイコン画像を選択してください。"
        = f.file_field :avatar
      .field
        = f.text_field :college_name, placeholder: "大学はどちらですか？"
      .field
        = f.email_field :email, placeholder: "email"
      .field
        = f.password_field :password, autocomplete: "off", placeholder: "パスワードを決めてください。（6文字以上)"
      .field
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: "確認用にもう一度同じパスワードを入力してください。"
      .field
        = f.hidden_field :admin, value: "false"
      .actions
        = f.submit "登録", class: "submitBnt"
    -# = render "devise/shared/links"
