.shere.clearfix
  - if user_signed_in?
    - if product.like_user(current_user.id)
      = link_to product_like_path(product_id: product.id, id: product.like_user(current_user)), method: :delete, id: "like-button", remote: true do
        .like.create_like.clearfix
          %ul.likeBtn
            %li
              いいね
            %li.genericon.genericon.genericon-digg
            %li
              = product.likes_count
    - else
      = link_to product_likes_path(product_id: product.id), method: :post, id: "like-button", remote: true do
        .like.delete_like.clearfix
          %ul.likeBtn
            %li
              いいね
            %li.genericon.genericon.genericon-digg
            %li
              = product.likes_count
  - else
    %p いいね #{product.likes_count}
