%section.no-padding.clearfix.pt50.mini-background-cover
  .column-box.col-sm-10.col-sm-offset-1.col-xs-12
    .row.expression
      %p.expression-title
        #{@user.name}さんの作品一覧
      %p.expression-content
        #{@user.name}さんがいままでに投稿した作品を見ることができます。

%section.no-padding.container.clearfix
  .user_box.col-sm-10.col-sm-offset-1.col-xs-12
    .row.user_avatar_box.col-xs-10.col-sm-4
      .user_avatar
        = image_tag @user.avatar.thumb
        - if user_signed_in?
          - if current_user.id == @user.id
            .user_edit.user_btn
              = link_to "編集する", edit_user_path(current_user)
    .col-md-8.col-xs-10.user_info_box.frame
      .user_name
        = @user.name
      .user_college
        = @user.college_name
      .user_product_count
        %h3
          投稿数 : #{@user.products.count}
      .user_profile
        = @user.profile

%section.no-padding.container.clearfix.pt80
  .user_box.col-sm-10.col-sm-offset-1.col-xs-12
    .row.expression
      %h3.expression-title
        #{@user.name}さんの投稿作品一覧

%section#works.works.section.no-padding
  .row.no-gutter
    = render @user.products

.panel.clearfix
  = render partial: 'products/post'
