-# = render partial: 'introductions/components/keyvisual'
-# = render partial: 'introductions/components/philosophy'
-# = render partial: 'introductions/components/business'

%section#banner.banner.no-padding
  .container-fluid
    .row.no-gutter
      .flexslider
        %ul.slides
          %li
            .col-md-12
              %blockquote
                %h1 Hello! I'm Jonathan
                %p UX/UI Designer, Front-end Developer
/ Text banner section
/ portfolio section
%section#works.works.section.no-padding
  .container-fluid
    .row.no-gutter
      = render @products
      .col-lg-3.col-md-3.col-sm-3.work
        %a.work-box{:href => "products/show"}
          = image_tag "work-1.jpg"
          .overlay
            .overlay-caption
              %h5 catchcopy
              %p
                %i.fa.fa-search-plus.fa-2x
                %h6 大学名/授業名
          / overlay
      .col-lg-3.col-md-3.col-sm-3.work
        %a.work-box{:href => "products/show"}
          = image_tag "work-2.jpg"
          .overlay
            .overlay-caption
              %h5 catchcopy
              %p
                %i.fa.fa-search-plus.fa-2x
                %h6 大学名/授業名
          / overlay
      .col-lg-3.col-md-3.col-sm-3.work
        %a.work-box{:href => "products/show"}
          = image_tag "work-3.jpg"
          .overlay
            .overlay-caption
              %h5 catchcopy
              %p
                %i.fa.fa-search-plus.fa-2x
                %h6 大学名/授業名
          / overlay
      .col-lg-3.col-md-3.col-sm-3.work
        %a.work-box{:href => "products/show"}
          = image_tag "work-4.jpg"
          .overlay
            .overlay-caption
              %h5 catchcopy
              %p
                %i.fa.fa-search-plus.fa-2x
                %h6 大学名/授業名
          / overlay
      .col-lg-3.col-md-3.col-sm-3.work
        %a.work-box{:href => "products/show"}
          = image_tag "work-5.jpg"
          .overlay
            .overlay-caption
              %h5 catchcopy
              %p
                %i.fa.fa-search-plus.fa-2x
                %h6 大学名/授業名
          / overlay
      .col-lg-3.col-md-3.col-sm-3.work
        %a.work-box{:href => "products/show"}
          = image_tag "work-6.jpg"
          .overlay
            .overlay-caption
              %h5 catchcopy
              %p
                %i.fa.fa-search-plus.fa-2x
                %h6 大学名/授業名
          / overlay
      .col-lg-3.col-md-3.col-sm-3.work
        %a.work-box{:href => "products/show"}
          = image_tag "work-7.jpg"
          .overlay
            .overlay-caption
              %h5 catchcopy
              %p
                %i.fa.fa-search-plus.fa-2x
                %h6 大学名/授業名
          / overlay
      .col-lg-3.col-md-3.col-sm-3.work
        %a.work-box{:href => "products/show"}
          = image_tag "work-8.jpg"
          .overlay
            .overlay-caption
              %h5 catchcopy
              %p
                %i.fa.fa-search-plus.fa-2x
                %h6 大学名/授業名
          / overlay
.panel.clearfix
  = render partial: 'products/post'
