%section#product.no-padding.container
  .product_box.col-md-9.col-xs-10
    .catchcopy
      %h3
        = @product.catchcopy
    .main_image
      -# = image_tag "outsource.jpg", class: "image"
      = image_tag @product.main_image, class: "image"

    .product_title.no-padding
      %h3
        = @product.title

    .college.no-padding
      %h3
        = @product.college_lecture_name

    .concept.no-padding
      %p
        = @product.concept

    .tag
      %ul.clearfix
        %li
          %p
            tagA
        %li
          %p
            tagB
        %li
          %p
            tagC

    .images_box.clearfix
      .container
        %ul.row
          - @product.image_boies.each_with_index do |image, i|
            %li.col-md-3.col-xs-8
              = image_tag image.image.thumb
              .cover{class:"#{i}"}
                %p
                  click

    .shere.col-md-2.col-xs-6
      .like
        %p
          いいね

    .comments_box
      .comment
        %p.name
          山下悠介
        %p.text
          素敵な作品だと思います。
.image_panel.clearfix
  .extension_image
    - @product.image_boies.each_with_index do |image, i|
      %li
        = image_tag image.image.large, class:"#{i} hide_image"

= render partial: 'products/edit_product'
