%section#product.no-padding.container
  .product_box.col-md-9.col-xs-10
    .catchcopy
      %h3
        = @product.catchcopy
    .main_image
      -# = image_tag "outsource.jpg", class: "image"
      = image_tag @product.main_image, class: "image"

    .product_title.no-padding
      %h3
        = @product.title

    .college.no-padding.clearfix
      %h3
        = @product.college_lecture_name

      %ul.links
        -# %li.link
        -#   = link_to "#{@product.col_name}ってどんな大学？", new_lecture_path, remote: true
        %li.link
          = link_to "#{@product.lec_title}ってどんな授業？", edit_lecture_path(@product.lecture), remote: true
        %li.link
          = link_to "#{@product.lec_title}のクチコミをみる。", lecture_path(@product.lecture)

    .concept.no-padding
      %p
        = @product.concept

    .tag
      %ul.clearfix
        %li
          %p
            tagA
        %li
          %p
            tagB
        %li
          %p
            tagC

    .images_box.clearfix
      .container
        %ul.row
          - @product.image_boies.each_with_index do |image, i|
            %li.col-md-3.col-xs-8
              = image_tag image.image.thumb
              .cover{class:"#{i}"}
                %p
                  click

    .shere.col-md-2.col-xs-6
      .like
        %p
          いいね

    %h3.comment_title
      この作品に対するコメント

    #js-comments
      = render partial: 'products/product_comment.html.haml', collection: @product.product_comments

    .comment_form.conForm
      = form_for @product_comment, remote: true do |f|
        = f.text_area :content, placeholder: "この作品に対する感想を教えてください。", id: "js-comment_field"
        = f.hidden_field :product_id, value: @product.id
        = f.submit "投稿する", class: "submitBnt"
.image_panel.clearfix
  .extension_image
    - @product.image_boies.each_with_index do |image, i|
      %li
        = image_tag image.image.large, class:"#{i} hide_image"
= render partial: './panel'


