%section.no-padding.clearfix.pt50.mini-background-cover
  .column-box.col-sm-10.col-sm-offset-1.col-xs-12
    .row.expression
      %p.expression-title
        作品詳細ページ
      %p.expression-content
        投稿作品に対して、コメントやイイネを投稿しましょう！

%section.no-padding.clearfix.frame
  .column-box.col-sm-10.col-sm-offset-1.col-xs-12
    .row.expression
      %p.expression-title
        = @product.title
      .main_image
        = image_tag @product.main_image, class: "image"
      %p.label.no-padding.frare
        コンセプト
      %p.concept.no-padding.frame
        = @product.concept
      %p.label.no-padding
        年度
      %p.concept.no-padding
        = @product.try(:year)


      .images_box.clearfix
        .container
          %ul.row
            - @product.image_boies.each_with_index do |image, i|
              %li.col-md-3.col-xs-8
                = image_tag image.image.thumb
                .cover{class:"#{i}"}
                  %p
                    click

      .label
        投稿者
      .user_info.clearfix.frame
        .col-sm-1.col-xs-3.avatar_box
          .avatar
            = image_tag @product.user.avatar.try(:thumb)

        .col-sm-10.col-sm-offset-0.col-xs-6.col-xs-offset-1.user_name_college
          .col-xs-8.p0
            .product_user_name
              = link_to @product.user.name, user_path(@product.user)

            .college.no-padding.clearfix
              %h3
                = @product.try(:college_lecture_name)
      .team_indivisual.clearfix
        = @product.indivisualOrTeam
      .tag_box.col-sm-12.col-sm-offset-0.col-xs-12
        .label
          タグ一覧
        %ul.clearfix
          - @product.tags.each do |tag|
            %li
              = link_to "#{tag.name}", tag_path(tag.id)
      .like_box.clearfix
        すごいって思った分だけ作品をイイネして応援しよう！
        .like_contents.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.clearfix
          %i.fa.fa-thumbs-o-up#js-like
            .like_count
              イイネ
          .like_count_comment
            #{@product.likes_count}イイネ

      %ul.links.clearfix
        - if user_signed_in? && current_user.admin == "true"
          = link_to edit_lecture_path(@product.lecture), remote: true do
            %li.link.col-xs-12.col-sm-6.col-sm-offset-3
              #{@product.lec_title} ってどんな授業？
        = link_to lecture_path(@product.lecture) do
          %li.link.col-xs-12.col-sm-6.col-sm-offset-3
            #{@product.lec_title}の口コミをみる。

      %h3.comment_title
        この作品に対するコメント

      #js-comments
        = render partial: 'products/product_comment.html.haml', collection: @product.product_comments

      - if user_signed_in?
        .comment_form.conForm
          = form_for @product_comment, remote: true do |f|
            = f.text_area :content, placeholder: "この作品に対する感想を教えてください。", id: "js-comment_field"
            = f.hidden_field :product_id, value: @product.id
            = f.submit "投稿する", class: "submitBnt"
      - else
        = link_to new_user_registration_path, class: "comment_login_message col-xs-10 col-xs-offset-1" do
          ログインしてこの作品に対するコメントを投稿しよう！

.image_panel.clearfix
  .extension_image
    - @product.image_boies.each_with_index do |image, i|
      %li
        = image_tag image.image.large, class:"#{i} hide_image"
= render partial: './panel'


