%section#product.no-padding.container
  .product_box.col-md-9.col-xs-10
    .catchcopy
      %h3
        = @product.catchcopy
    .main_image
      = image_tag "outsource.jpg", class: "image"

    .product_title.no-padding
      %h3
        = @product.title

    .college.no-padding
      %h3
        学校名/授業名

    .concept.no-padding
      %p
        = @product.concept

    .tag
      %ul.clearfix
        %li
          %p
            tagA
        %li
          %p
            tagB
        %li
          %p
            tagC

    .images_box.clearfix
      .container
        %ul.row
          %li.col-md-2.col-xs-8
            = image_tag "work-1.jpg"
          %li.col-md-2.col-xs-8
            = image_tag "work-1.jpg"
          %li.col-md-2.col-xs-8
            = image_tag "work-1.jpg"
          %li.col-md-2.col-xs-8
            = image_tag "work-1.jpg"

    .shere.col-md-2.col-xs-6
      .like
        %p
          いいね

    .comments_box
      .comment
        %p.name
          山下悠介
        %p.text
          素敵な作品だと思います。
