%section
  %header#header
    .header-content.clearfix
      .header-top
        %ul.primary-nav
          %li
            = link_to "くらベルとは", root_path, class: "title"
          %li
            = link_to "投稿作品一覧", products_path, class: "title"
          %li
            = link_to "授業一覧", lectures_path, class: "title"
          %li
            = link_to "タグ一覧", tags_path, class: "title"
      %nav.navigation
        #trigger
          Menu
        %ul.primary-nav#js-menu
          #js-close
            閉じる
          - if user_signed_in?
            %li
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            %li
              = link_to "マイページへ", user_path(current_user)
              - if controller.action_name == "show" && controller.controller_name == "products" && @product.user.id == current_user.id
                %li
                  = link_to "編集する", edit_product_path(params[:id]), remote: true, method: :get
                %li
                  = link_to "削除する", product_path(params[:id]), method: :delete
              - elsif controller.controller_name == "users"
                %li
                  = link_to "投稿する", new_product_path, remote: true, method: :get
              - else
                %li
                  = link_to "投稿する", new_product_path, remote: true, method: :get
          - else
            %li
              = link_to "ログイン", new_user_session_path
            %li
              = link_to "新規登録", new_user_registration_path
